services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: central_condo
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    restart: always
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://root:root@db:5432/central_condo?schema=public
      - HOSTNAME=0.0.0.0
    depends_on:
      - db
    command: sh -c "npx prisma generate && npx prisma db push && npm run dev"
      
volumes:
  postgres_data:
