version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: central_condo_db
    environment:
      POSTGRES_USER: maria
      POSTGRES_PASSWORD: maria
      POSTGRES_DB: central_condo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: