version: "3.9"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: central_condo
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    restart: always
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000" # React
      - "4000:4000" # Backend
    environment:
      DATABASE_URL: "postgresql://root:root@db:5432/central_condo"
    command: sh -c "npx prisma migrate deploy && npm run dev"
      
volumes:
  postgres_data: